{%include 'admin_header.html'%}
<div style=" background:url('/static/images/banner.jpg') ; height: 700px; width: 100%; background-size: cover;" >
    <br><br><br><br><br><br>
    <center>
        {% if data ['up'] %}
        <form method="post" enctype="multipart/form-data">
            <h1 style="color:white;">Update Fertilizer</h1>
            <table class="table" style="width:600px;color:white;">
                <tr>
                    <th>fertilizer </th>
                    <td><input type="text" value="{{data['up'][0]['fertilizer']}}" name="fertilizer" required="" class="form-control"></td>
                </tr>
                
                <tr>
                    <th>Detils</th>
                    <td><input type="text" value="{{data['up'][0]['details']}}" name="details" required="" class="form-control"></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td><input type="text"value="{{data['up'][0]['price']}}" name="price" required="" class="form-control"></td>
                </tr>
                
                <tr>
                    <th>Stock</th>
                    <td><input type="text"value="{{data['up'][0]['stock']}}" name="stock" required="" class="form-control"></td>
                </tr>
                
            <tr>
                <th>image</th>
                <td><input type="file" value="{{data['up'][0]['image']}}" name="image" required="" class="form-control"></td>
            </tr>
                <tr>
                    <td align="center" colspan="2"><input type="submit" name="update" class="btn btn-outline-success"></td>
                </tr>
            </table>
        </form>
        <br><br><br><br><br><br><br>
        {% else %}
        <form method="post" enctype="multipart/form-data">
            <h1 style="color:white;">Manage fertilizer</h1>
            <table class="table" style="width:600px;color:white;">
                
                <tr>
                    <th>fertilizer </th>
                    <td><input type="text"name="fertilizer" required="" class="form-control"></td>
                </tr>
                
                <tr>
                    <th>Details</th>
                    <td><input type="text"name="details" required="" class="form-control"></td>
                </tr>
                <tr>
                    <th>price</th>
                    <td><input type="text" name="price"required="" class="form-control"></td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td><input type="text" name="stock" required="" class="form-control"></td>
                </tr>
                
            <tr>
                <th>image</th>
                <td><input type="file" name="image" required="" class="form-control"></td>
            </tr>
                <tr>
                    <td align="center" colspan="2"><input type="submit" class="btn btn-outline-success" name="submit" ></td>
                </tr>
            </table>
        </form>
    </center>
          {% endif %}
   

  </div>   
 <center>
    <h1>Manage fertilizer</h1>
    <table class="table" style="width:600px">
        <tr>
            <th>Slno</th>
            <th>fertilizer</th>
            <th>details</th>
            <th>price</th>
            <th>Stock</th>
            <th>Image</th>
            
        </tr>
        {%for row in data['fer']%}
        <tr>
            <td>{{loop.index}}</td>
            
            <td>{{row['fertilizer']}}</td>
            <td>{{row['details']}}</td>
            <td>{{row['price']}}</td>
            <td>{{row['stock']}}</td>
            <td><a href="/{{row['image']}}" class="btn btn-primary">Click Here</a></td> 
            <td><a href="?action=update&id={{row['fertilizer_id']}}" class="btn btn-outline-success">Update</a></td>
            <td><a href="?action=delete&id={{row['fertilizer_id']}}" class="btn btn-outline-danger">Delete</a></td>
            
        </tr>
        {%endfor%}
    </table>
 </center>
{%include 'footer.html'%}