{%include 'publicheader.html'%}
  <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <!-- <div class="text-bg"> -->
                     <center>
                    <div class="top" style="width:600px">   

                    
   <form method="post">
       <h1 style="font: italic; font-size: 50px;color: white;">Login</h1>
       <table class="table" style="width:500px;color: white;margin-top: 40px;">
           <tr>
               <th>username</th>
               <td><input type="text" class="form-control" name="username" required></td>
           </tr>
           <tr>
               <th>Password</th>
               <td><input type="password" class="form-control" name="password" required></td>
           </tr>
           <tr>
               <td align="center"  colspan="2"><input type="submit" class="btn btn-outline-success" value="Login" name="submit"></td>
           </tr>
       </table>
   </form>
</center>
</div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <style type="text/css">
          .top{
            background-color: rgba(255, 255, 255, .2);
          }
      </style>
      <!-- end banner -->

{%include 'footer.html'%}