{%include 'seller_header.html'%}
<div style=" background:url('/static/images/banner.jpg') ; height: 500px; width: 100%; background-size: cover;" >
	<br><br><br>
<center>
 <form method="post" enctype="multipart/form-data">
            <h1 style="color:white;">Request For Auction</h1>
            <table class="table" style="width:600px;color:white;">
                
                <tr>
                    <th>Batch No </th>
                    <td><input type="text"name="fertilizer" required="" class="form-control"></td>
                </tr>
                
                <tr>
                    <th>Weight</th>
                    <td><input type="text"name="details" required="" class="form-control"></td>
                </tr>
                <tr>
                    <th>Quality</th>
                    <td>
                        <select name="stock" required="" class="form-control">
                            {%for row in data['quality']%}
                            <option value="{{row['stock_id']}}">{{row['stock']}}</option>
                            {%endfor%}
                            
                        </select>
                    </td>
                </tr>
                <tr>
                <th>image</th>
                <td><input type="file" name="image" required="" class="form-control"></td>
            </tr>
               <!--  <tr>
                    <th>Date</th>
                    <td><input type="date" name="price"required="" class="form-control"></td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td><input type="time" name="stock" required="" class="form-control"></td>
                </tr>
                
            <tr>
                <th>Amount</th>
                <td><input type="number" name="amt" required="" class="form-control"></td>
            </tr> -->
                <tr>
                    <td align="center" colspan="2"><input type="submit" class="btn btn-outline-success" name="submit" ></td>
                </tr>
            </table>
        </form>
    </center>
  </div>   
   

  </div>  
<br><br> 
 <center>
    <h1>Request For Auction</h1>
    <br><br> 
    <table class="table" style="width:600px">
        <tr>
            <th>Slno</th>
            <th>Batch No </th>
            <th>Image</th>
            <th>Weight</th>
           <!--  <th>Date</th>
            <th>Time</th>
            <th>Amount</th> -->
            <th>Status</th>
            
        </tr>
        {%for row in data['fer']%}
        <tr>
            <td>{{loop.index}}</td>
            
            <td>{{row['auction']}}</td>
            <td><img src="/{{row['image']}}" width="150" height="150"></td>
            <td>{{row['weight']}}</td>
            
           <!--  <td>{{row['date']}}</td>
            <td>{{row['time']}}</td>
            <td>{{row['amount']}}</td> -->
           	<td>{{row['status']}}</td> 
           
            
        </tr>
        {%endfor%}
    </table>
 </center>
{%include 'footer.html'%}